{% extends 'ckan_consumer/basic.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Buscar con API de CKAN</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <input name="q" type="text" class="form-control" placeholder="buscar">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
    </div>
</div>

{% if data %}
<p>{{data}}</p>
{% endif %}

{% endblock %}
